.body-homepage {
  min-height: 100vh;
  min-width: 100wh;
  overflow-x: hidden;
  background-color: #370257;
}

.body-homepage .left-side {
  width: 50vw;
}

.body-homepage h1 {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 1rem;
  margin-left: 20px;
  text-align: left;
  float: left;
  width: 45vw;
  position: absolute;
  top: 40vh;
}

.body-homepage .right-side #Homepage_House {
  height: 10%;
  width: 10%;
}
