# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*
.DS_Store
.project
# omit Go vendor directories
vendor/
.vscode
.gradle
.idea
# Dependency directories
node_modules/
# Ignore Gradle build output directory
build
package-lock.json

# Eclipse
.classpath
.settings

# installed Fabric binaries etc.
bin/
builders/
# config/
external-chaincode/
install-fabric.sh

network/organizations
network/channel-artifacts
network/log.txt
network/addOrg3/fabric-ca/org3/msp/keystore
network/*.tar.gz
